<div class="dialog-header">Forgot Username or Password</div>
<div id="dialog-field-content">
  <div class="label-input-pair">
      <div>Username or email address</div>
      <input class="dialog-input" type="text" (keypress)="onKeyPress()">    
  </div>
  <div *ngIf="message" class="popup-dialog-message">{{message}}</div>
  <div *ngIf="errorMessage" class="popup-error-message">{{errorMessage}}</div>
</div>
<dialog-button-footer>
    <button class="purple-link-button" (click)="onBackToSignInClick()">Back to Sign In</button>
    <button class="app-dialog-button button-right" (click)="onResetPasswordClick()">Reset Password</button>
</dialog-button-footer>
