#dialog-field-content
{
    padding: 20px 0px;
    width: 300px;
}

#signin-button 
{
    float: right;
}

#not-member
{
    font-weight: bold;
    position: relative;
    top: 18px;
}

.label-input-pair
{
    margin-bottom: 15px;
}


input
{
    width: 100%;
}